{% if filter %}

    <div class="navbar">
        <div class="navbar-start">
            <a class="navbar-item">
                 {% if filter == 'all' %}
                <p class="mx-5">Industry Rates Index</p>   
                {% else %}   
                <p class="mx-5">Industrial {{ filter | capitalize }} Rates Index</p> 
                {% endif %}            
            </a>
            <a class="navbar-item">
                <span class="bg-gray-50 py-1 px-2 border rounded-full">{{ filtered | length }}<a>

            </a>
        </div>
        <div class="navbar-end">
            
            <a class="navbar-item" href>Filter Rates <span uk-drop-parent-icon></span></a>
            <div uk-dropdown="pos: bottom-center">
            <ul class="uk-nav uk-dropdown-nav">
                <li class="uk-nav-header">Filter Rates</li>
                <li><a 
                            href="#"
                            hx-get="/industry_rates/all"
                            hx-target="#dash-content-pane"
                            hx-trigger="click"                                 
                            >All Categories</a>
                    </li>           
    
                    {% for item in categories %}
                        <li>
                            <a 
                                href="#"
                                hx-get="/industry_rates/{{ item }}"
                                hx-target="#dash-content-pane"
                                hx-trigger="click"                                 
                            >{{ item }}</a>
                        </li>
                    {% endfor %}
               
                
                </ul>
            </div>
            <a class="navbar-item">About</a>
            <a class="navbar-item" href="#new-rate-modal" uk-toggle>New</a>
           
        </div>
    </div>
<table class="uk-table uk-table-small uk-table-hover uk-table-divider text-teal-800">
    <thead>
        <tr class="uk-text-primary">
            <th>Id</th>
            <th>Category</th>
            <th>Title</th>
            
            <th>Metric Unit</th>
            <th>Metric Rate</th>
            <th>Imperial Unit</th>
            <th>Imperial Rate</th>
        </tr>
    </thead>
    <tbody>
    {% for rate in filtered %}
    <tr
                hx-get="/rate/{{rate.get('_id') }}"
                hx-target="#dash-content-pane"
                hx-trigger="click"
                >
            <td> {{ rate.get('_id') }}</td>
            <td> {{ rate.get('category') }}</td>
            <td> {{ rate.get('title') }}</td>                   
            <td> {{ rate.get('metric').get('unit') }}</td>
            <td class="text-blue-700"> {{ rate.metric.price | to_dollars }}</td>
            <td> {{ rate.get('imperial').get('unit') }}</td>
            <td class="text-blue-700">  {{ rate.imperial.price | to_dollars }}</td>
        </tr>  
     {% endfor %}           
        
</tbody></table>

 {% else %}

<div class="flex flex-row bg-gray-300 py-3 px-4 items-inline text-center rounded">
    <span class="cursor-pointer" uk-toggle="target: #new-rate-modal"uk-icon="plus"></span>
        <p class="mx-5">Industry Rates Index</>                
        <span class="bg-gray-50 py-1 px-2 border rounded-full"> {{ rates | length }}<span>   
          <a href><span uk-drop-parent-icon></span></a>
        <div uk-dropdown="pos: bottom-center">
        <ul class="uk-nav uk-dropdown-nav">
         <li class="uk-nav-header">Filter Rates</li>
         <li><a 
                    href="#"
                    hx-get="/industry_rates/all"
                    hx-target="#dash-content-pane"
                    hx-trigger="click"                                 
                    >All Categories</a>
            </li>
    {% for item in categories %}
        <li>
            <a 
                href="#"
                hx-get="/industry_rates/{{ item }}"
                hx-target="#dash-content-pane"
                hx-trigger="click"                                 
            > {{ item }}</a></li>
    {% endfor %}
           
            
    </ul></div>                  
            
        </div>

    <table class="uk-table uk-table-small uk-table-hover uk-table-divider text-teal-800">
    <thead>
        <tr class="uk-text-primary">
            <th>Id</th>
            <th>Category</th>
            <th>Title</th>
            
            <th>Metric Unit</th>
            <th>Metric Rate</th>
            <th>Imperial Unit</th>
            <th>Imperial Rate</th>
        </tr>
    </thead>
    <tbody> 
    {% for rate in rates %}
    <tr
                hx-get="/rate/{{ rate.get('_id') }}"
                hx-target="#dash-content-pane"
                hx-trigger="click"
                >
            <td> {{ rate.get('_id') }}</td>
            <td> {{ rate.get('category') }}</td>
            <td> {{ rate.get('title') }}</td>                   
            <td> {{ rate.get('metric').get('unit') }}</td>
            <td class="text-blue-700"> {{ rate.get('metric').get('price') }}</td>
            <td> {{ rate.get('imperial').get('unit') }}</td>
            <td class="text-blue-700">  {{ rate.get('imperial').get('price') }}</td>
        </tr>  
    {% endfor %}           
        
    </tbody></table>
{% endif %}  
<p class="text-xs">{{ store_room }}</p>

<!-- This is the new-rate-modal -->
<div id="new-rate-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">New Industrial Rate</h2>
        <form>

            <div class="uk-margin">
                <input class="uk-input uk-form-width-large" type="text" placeholder="Large" aria-label="Large">
            </div>
        
            <div class="uk-margin">
                <input class="uk-input uk-form-width-medium" type="text" placeholder="Medium" aria-label="Medium">
            </div>
        
            <div class="uk-margin">
                <input class="uk-input uk-form-width-small" type="text" placeholder="Small" aria-label="Small">
            </div>
        
            <div class="uk-margin">
                <input class="uk-input uk-form-width-xsmall" type="text" placeholder="X-Small" aria-label="X-Small">
            </div>
        
        </form>


        <form id="newrate"
        :actions="true">
          <input type="text" label="Title" name="title" validation="required"/>
          <input type="text" label="Description" name="description" validation="required"/>
          <input type="text" label="Category" name="category" validation="required"/>
          <n-row>
            <n-col :span="12">         
              <n-space justify="left">
                <p>metric</p>
              <input type="text" label="Unit" name="metric_unit" />
              <input type="number" step="0.1" label="Price" name="metric_price" />
              <input type="number" step="0.1" label="Output" name="output_metric" />
              
              </n-space>
            </n-col>
            <n-col :span="12">
              <n-space justify="left">
                <p>imperial</p>
              <input type="text" label="Unit" name="imperial_unit" />
              <input type="number" step="0.1" label="Price" name="imperial_price" />
              <input type="number" step="0.1" label="Output" name="output_imperial" validation="required"/>
              
              </n-space>
            </n-col>
          </n-row>
         
          </form> <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button">Save</button>
        </p>
    </div>
</div>