<form hx-put="/update_task_properties/{{job_id}}_{{task._id}}/imperial" hx-target="this" hx-swap="outerHTML">
    <div class="uk-card uk-card-default uk-card-body">
        <h3 class="uk-card-title">Imperial Properties</h3>
    <div class="flex flex-col">
        <div class="flex flex-row my-2">
            <label>Unit</label>
            <input class="bg-gray-200 px-3 py-2 ml-2 rounded-md" type="text" name="unit" value="{{ task.imperial.unit }}">
        </div>
        <div class="form-group flex flex-row my-2">
            <label>Quantity</label>
            <input class="bg-gray-200 px-3 py-2 ml-2 rounded-md"  type="number" step="0.01" name="quantity" value="{{ task.imperial.quantity }}">
        </div>
        <div class="form-group flex flex-row my-2">
            <label>Price</label>
            <input class="bg-gray-200 px-3 py-2 ml-2 rounded-md"  type="number" name="price" value="{{ task.imperial.price }}">
        </div>
    </div>
    <button class="btn btn-primary">Submit</button>
    <button class="btn btn-primary" hx-get="/task_properties/{{job_id}}_{{task._id}}/imperial">Cancel</button>
    </div>
</form>