<table class="uk-table uk-table-divider">
    <thead>
<tr>
    <th></th>
    <th>Id</th>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
</tr>
</thead>
<tbody>
    


{% for task_rate in rates %}
<tr>
    <td><input 
        type="checkbox" 
        value="{{ task_rate.get('_id') + '-' + job_id }}" 
        name="task" 
        hx-post="/add_job_task" 
        hx-target="#job-rates" >
    </td>
    <td>{{ task_rate.get("_id") }}</td>
    <td> {{ task_rate.get("title") }}</td>
    <td> {{ task_rate.get("description") }}</td>
    <td> {{ task_rate.get("category") }}</td>

</tr>

{% endfor %}
</tbody>
</table>