<div class="flex flex-col space-y-1.5">
    <div class="navbar">
        <div class="navbar-start">
            <a class="navbar-item text-sm"><span>{{ p.name }} / {{ job.title }} </span></a>
        </div>
        <div class="navbar-center">
            <ul class="uk-subnav uk-subnav-pill" uk-switcher="connect: #job-properties">
                <li><a href="#" class="navbar-item">Home</a></li>
                <li><a href="#" class="navbar-item">Tasks</a></li>
                <li><a href="#" class="navbar-item">Crew</a></li>
                
            
            </ul>
            
        </div>
        <div class="navbar-end">
        <a href="#add-job-task-modal" uk-toggle class="navbar-item">Add Task</a>
        <a href="#add-crew-member-modal" uk-toggle class="navbar-item">Add Crew</a>
            
            
            <div id="state" class="dropdown">
            <label class="btn btn-solid-primary my-2" tabindex="0">Set State</label>
            <div class="dropdown-menu">
                <a 
                class="dropdown-item text-sm"
                href="#"                
                >Job State</a>
                <a 
                class="dropdown-item text-sm"
                hx-get="/update_project_job_state/{{ job._id }}/active"
                hx-target="#message"
                >Active</a>
                <a 
                tabindex="-1" 
                class="dropdown-item text-sm"
                hx-get="/update_project_job_state/{{ job._id  }}/completed"
                hx-target="#message"
                >Completed</a>
                <a 
                tabindex="-1" 
                class="dropdown-item text-sm"
                hx-get="/update_project_job_state/{{ job._id  }}/paused"
                hx-target="#message"                            
                >Paused</a>
                <a 
                tabindex="-1" 
                class="dropdown-item text-sm"
                hx-get="/update_project_job_state/{{ job._id  }}/resume"
                hx-target="#message"                            
                >Resume</a>
                <a 
                tabindex="-1" 
                class="dropdown-item text-sm"
                hx-get="/update_project_job_state/{{ job._id }}/terminated"
                hx-target="#message"                           
                >Terminated</a>
            </div>
        </div> 
        </div>
    </div>
   
    <div id="result"></div>
    <ul id="job-properties" class="uk-switcher uk-margin">
        <li>                    
            <div class="flex flex-row bg-gray-50 p-5 border rounded">
                
            
            <div class="uk-card uk-card-large ">
                <div class="uk-card-header">
                    

                    <div class="uk-child-width-expand@s uk-text-left" uk-grid>
                        <div>
                            
                                <span class="uk-badge">Id. {{  job._id }}</span>
                                <h3 class="uk-card-title"> {{ job.title }}</h3>
                                <p> <span class="font-semibold mx-8">Creation Date </span>{{ job.event.created }} </p>
                                <p> <span class="font-semibold mx-8">Start Date </span>{{ job.event.started }} </p>
                                <p> <span class="font-semibold mx-8">State </span>{{ job.state }} </p>
                                <p> <span class="font-semibold mx-8">Test Function </span>{{ test_func('want to change integer to date') }} </p>
                                
                                
                            
                        </div>
                        <div>
                            <div class="flex flex-col text-sm">
                                <p><span class="font-semibold mx-8">ProjectPhase</span> 
                                    {% if job.get('projectPhase') %}
                                     {{ job.projectPhase }}
                                     {% else %}
                                     <form>
                                        <div class="uk-margin">
                                            <div uk-form-custom="target: > * > span:first-child">
                                                <select 
                                                name="projectphase" 
                                                hx-post="/update_job_phase/{{job._id}}"
                                                hx-target="#message"
                                                aria-label="Custom controls"
                                                >
                                                    <option value="">Please select...</option>
                                                    {% for phase in project_phases %}
                                                        <option value="{{phase}}">{{ phase }}</option>
                                                    {% endfor %}
                                                </select>
                                                <button class="uk-button uk-button-default" type="submit" tabindex="-1"                                                  
                                                    
                                                
                                                >
                                                    <span></span>
                                                    <span uk-icon="icon: chevron-down"></span>
                                                </button>
                                            </div>
                                        </div>
                                        
                                    
                                    </form>
                                    {% endif %}
                                </p>
                                <p> <span class="font-semibold mx-8">Crew </span>{{ job.get('crew').get('name') }} </p>
                                <p> <span class="font-semibold mx-8">Crew Members</span> <span class="uk-badge font-semibold">{{ crew_members }} </span></p>
                                <p> <span class="font-semibold mx-8">All Tasks</span> <span class="uk-badge font-semibold">{{ job.tasks | length }} </span></p>
                                <p class="my-2> <span class="font-semibold mx-8">Progress</span> <progress class="progress progress-secondary" value="{{ job.progress }}" max="100"></progress> <span class="uk-badge font-semibold">{{ job.progress }} % </span></p>
                        
                           
                            </div>
                        </div>
                       
                    </div>


                   
                   
                   
                </div>
                <div class="uk-card-body">
                    
                    <p class="text-content2">
                    {{ job.get('description') }}
                    
                    </p>
                    <ul class="uk-list">
                    {% for key, value in job.items()%}
                    <li><span class="text-xs"><strong>{{ key }}</strong> ____________ {{ value }}</span></li>
                    {% endfor %}
                    <
                    <div class="card-footer">
                        <button class="btn-secondary btn">Learn More</button>
                    </div>
                </div>
            </div>

                        
            </div>                    
        </li>
        <li>
            <div class="bg-gray-300 p-5 border rounded">
                {% include 'project/jobTasks.html' %}
                
            </div>                     
        </li>
        <li><div class="bg-gray-300 p-5 border rounded">
            {% include 'project/jobCrew.html' %}
           
        </div></li>
        
    </ul>

   

    <!-- This is the add task to job modal -->
    <div id="add-job-task-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Add Job Task</h2>
            

            <div class="uk-child-width-1-3@s" uk-grid>
                <div>
                    <h4>Project Rates Index</h4>
                    <form>
                        <table class="uk-table uk-table-divider">
                            <thead>
                        <tr>
                            <th></th>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Category</th>
                        </tr>
                        </thead>
                        <tbody>
                            
                       
                    
                    {% for task_rate in p.get("rates") %}
                        <tr>
                            <td><input 
                                type="checkbox" 
                                value="{{ task_rate.get('_id') + '-' + job.get('_id') }}" 
                                name="task" 
                                hx-post="/add_job_task" 
                                hx-target="#message" >
                            </td>
                            <td>{{ task_rate.get("_id") }}</td>
                            <td> {{ task_rate.get("title") }}</td>
                            <td> {{ task_rate.get("description") }}</td>
                            <td> {{ task_rate.get("category") }}</td>

                        </tr>

                    {% endfor %}
                        </tbody>
                    </table>
                    </form>
                </div>
                
                
            </div>


            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary" type="button">Save</button>
            </p>
        </div>
    </div>

   

    <!-- This is the add crew member modal -->
    <div id="add-crew-member-modal" uk-modal>
        <div class="uk-modal-dialog uk-modal-body">
            <h2 class="uk-modal-title">Add Crew Member</h2>
            Job {{ job._id }}
            
            <form>
                <table class="uk-table uk-table-divider">
                    <thead>
                <tr>
                    <th></th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Oc</th>
                    <th>Role</th>
                    <th>Rating</th>
                </tr>
                </thead>
                <tbody>
                    
               
            
            {% for worker in p.workers %}
                <tr>
                    <td><input 
                        type="checkbox" 
                        value="{{ worker.id + '_' + job._id }}" 
                        name="worker" 
                        hx-post="/add_worker_to_job_crew" 
                        hx-target="#message" >
                    </td>
                    <td>{{ worker.id }}</td>
                    <td> {{ worker.value.name }}</td>
                    <td> {{ worker.value.oc }}</td>
                    <td> {{ worker.value.occupation }}</td>
                    <td> {{ worker.value.rating }}</td>

                </tr>

            {% endfor %}
                </tbody>
            </table>
            </form>
            <p class="uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <button class="uk-button uk-button-primary" type="button">Save</button>
            </p>
        </div>
    </div>
               
                
        </div>  """   
