<div class="flex flex-col space-y-1.5">
                       
    <div class="navbar">
        <div class="navbar-start">
            <a class="navbar-task"><span>{{ p.name }} Job Queue </span></a>
        </div>
        <div class="navbar-center"></div>
        <div class="navbar-end">
        <button class="uk-button uk-button-primary uk-button-small uk-margin-small-right navbar-task" type="button" uk-toggle="target: #new-job-modal">Add Job</button>

        </div>
    </div>
    
    <div class="uk-overflow-auto">
   
        <table class="uk-table uk-table-striped uk-table-hover uk-table-small uk-table-divider">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Project Phase</th>
                    <th>Crew</th>
                    <th>Jobs</th>
                    <th>State</th>
                    <th>Progress</th>
                   
                </tr>
            </thead>
            <tbody>

            {% for job in jobs %}
                <tr 
                class="cursor-pointer"
                hx-get="/html_job/{{ job._id }}"
                hx-target="#project_properties"
                hx-trigger="click"  
                >
                    <td>{{ job.title }}</td>
                    <td class="uk-text-wrap">{{ job.description }}</td>
                    <td>{{ job.projectPhase }}</td>
                    <td>{{ job.crew.name }}</td>
                    <td>{{ job.tasks | length() }}</td>
                    <td>
                        {% if job.state.active %}
                            <span class="badge badge-success">Active</span>
                        {% elif job.state.complete %}
                            <span class="badge badge-primary">Completed</span>
                        {% elif job.state.pause %}
                            <span class="badge badge-warning">Paused</span>
                        {% elif job.state.terminate %}
                            <span class="badge badge-error">Terminated</span>
                        {% else %}
                            <span>Set State</span>
                        {% endif %}
                        
                    </td>
                    <td><span class="uk-badge">{{ job.get('progress') }}%</span></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
<div id="add-job-result" ></div>

<!-- This is the modal -->
<div id="new-job-modal" uk-modal>
<div class="uk-modal-dialog uk-modal-body">
<h2 class="uk-modal-title">New Job Task</h2>
<div> 
<form 
        hx-post="/add_job/{{ id }}"
        hx-target="#add-job-result"
        hx-trigger="submit"   
        class="uk-grid-small" uk-grid
        >
            <div class="uk-width-1-1">
                <input class="uk-input input-solid max-w-full rounded-md" placeholder="Job Title" type="text"  name="title" />
    
            </div>
            <div class="uk-width-1-1">
                <input class="uk-input input-solid max-w-full" placeholder="Job Description" type="textarea" name="description" />

            </div>
            <div class="uk-width-1-1">
                <input class="uk-input input-solid max-w-full" placeholder="Project Phase" type="text" name="project_phase" />

            </div>
            <div class="uk-width-1-1">
                <input class="uk-input input-solid max-w-full" placeholder="Crew Name" type="text" name="crew_name" />

            </div>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="date" placeholder="Date" aria-label="Date" name="date">
            </div>
            <div class="uk-width-1-2@s">
            <label class="uk-form-label font-bold" for="unit">Contractor Fees</label>
                <input class="uk-range" type="range" value="20" min="0" max="30" step="1" aria-label="Range" name="fees_contractor">
                        
            </div>
            <div class="uk-width-1-3@s">
            <label class="uk-form-label font-bold" for="width">Miscellaneous Fees</label>
                <input class="uk-range" type="range" value="10" min="0" max="30" step="1" aria-label="Range" name="fees_misc" />
                        
            </div>
            <div class="uk-width-1-3@s">
            <label class="uk-form-label font-bold" for="fees_insurance">Inscurance Fees</label>
                <input class="uk-range" type="range" value="2" min="0" max="30" step="1" aria-label="Range" name="fees_insurance" />
                        
            </div>
            <div class="uk-width-1-3@s">
             <label class="uk-form-label font-bold" for="width">Overhead Fees</label>
                <input class="uk-range" type="range" value="5" min="0" max="30" step="1" aria-label="Range" name="fees_overhead" />
                        
            </div>
             <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="submit" uk-modal-close>Save</button>
        </p>
        </form>



</div>
</div>
</div>
