
<div class="navbar">
	<div class="navbar-start">
		
        <a 
            class="navbar-item"
            href="#" 
            hx-get="/jobtasks/{{job_id}}"
            hx-target="#job-tasks">

        <span class="uk-badge">
            <span uk-icon="icon: chevron-double-left; ratio: 1.5">
            </span>Back to Tasks
        </span>
    </a>
	</div>
	<div class="navbar-end">
		
        <span class="badge badge-secondary navbar-item">Project Standard: {{ standard }}</span>
	</div>
</div>


<hr class="uk-divider">
<section class="bg-white p-5 rounded-md shadow-md ">
    <div class="uk-child-width-expand@s uk-text-left" uk-grid>
        <div>
            <h3> Job Id: {{job_id}}</h3>
            <h3> Task Id: {{task._id}}</h3>
            <h3> Title: {{task.title}}</h3>
            <h4> Description: {{task.description}}</h4>
            <div>
                <p> State:</p>
                {% if task.state.active %}
                        
                        <div class="uk-inline">
                          <span class="badge badge-success" type="button">Active</span>
                            <div class="bg-red-400 text-white rounded-md hover:bg-red-400" uk-dropdown="mode: click">
                                <ul>
                                    <li><span class="text-xs">{{ task._id }}</span></li>
                                    <li><a href="#" id="href">Complete</a> </li>
                                    <li><a href="#" id="href">Pause</a> </li>
                                    <li><a href="#" id="href">Terminate</a> </li>
                                </ul>
                                
                            </div>
                        </div>
                    {% elif task.state.complete %}
                        <span class="badge badge-primary">Completed</span>
                    {% elif task.state.pause %}
                        
                        <div class="uk-inline">
                            <span class="badge badge-warning" type="button">Paused</span>
                              <div class="bg-red-400 text-white rounded-md hover:bg-red-400" uk-dropdown="mode: click">
                                  <ul>
                                      <li><span class="text-xs">{{ task._id }}</span></li>
                                      <li><a href="#" id="href">Resume</a> </li>                                     
                                      <li><a href="#" id="href">Terminate</a> </li>
                                  </ul>
                                  
                              </div>
                          </div>
                    {% elif task.state.terminate %}
                        <span class="badge badge-error">Terminated</span>
                    {% else %}
                       
                        <div class="uk-inline">
                            <span class="badge badge-primary" type="button">Set State</span>
                              <div class="bg-red-400 text-white rounded-md" uk-dropdown="mode: click">
                                  <ul>
                                      <li><span class="text-xs">{{ task._id }}</span></li>
                                      <li><a href="#" id="href">Active</a> </li>
                                      <li><a href="#" id="href">Complete</a> </li>
                                      <li><a href="#" id="href">Pause</a> </li>
                                      <li><a href="#" id="href">Terminate</a> </li>
                                  </ul>
                                  
                              </div>
                          </div>
                    {% endif %}
                    
            </div>
            {% if task.assigned %}
            <h4> Assignment: {{task.assignedto}}</h4>
            <div class="bg-gray-400 text-gray-900 p-1">
                <p class="text-xs">Add Worker</p>
                <form>
                    <select 
                    class="select" 
                    name="crew_member" 
                    hx-post="/assign_task/{{job_id}}_{{task._id}}"
                    hx-target="#message"
                    
                    >
                    <option>Select Crew to Add </option>
                    {% for member in crew  %}   
                                     
                            <option> {{ member.id }} {{ member.value.oc}}</option>
                        
                    {% endfor %}
                    </select>
                </form>
            </div>
            {% else %}
            <div class="flex flex-col p-2">
                <h3>Assign to Crew</h3>
                <form>
                    <select 
                    class="select" 
                    name="crew_member" 
                    hx-post="/assign_task/{{job_id}}_{{task._id}}"
                    hx-target="#message"
                    
                    >
                    <option>Select Crew </option>
                    {% for member in crew %}                    
                        <option> {{ member.id }} {{ member.value.oc}}</option>
                    {% endfor %}
                    </select>
                </form>
            </div>
            {% endif %}

        </div>

        <div>
            <p> Category {{ task.category }}</p>
            <p> Project Phase {{ task.phase }}</p>
           <p> Progress <span id="task-progress">{{ task.progress }}</span>%
            <form><input 
                            type="range" 
                            class="range range-secondary" 
                            name="task_progress"
                            min="0"
                            max="100"
                            step="5"
                            value="{{ task.progress }}"
                            hx-post="/update_task_progress/{{job_id}}_{{task._id}}"
                            hx-target="#task-progress"
                            hx-trigger="change"
                            />
                        </form>
            </p>
           <div>
                <p> Event: {{ task.event }}</p>
            </div>
            <h4> Payment: {{task.paid}}</h4>
        </div>
    </div>
  
   <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div>
            {% include '/project/task/metricProperties.html' %}
        
        <p><strong>Output</strong> {{task.output.metric}}</p>
        </div>
    
        <div>
        
            {% include '/project/task/imperialProperties.html' %}
                <p><strong>Output</strong> {{task.output.imperial}}</p>
                
        
        </div>
    
</div>
<p> Remarks: {{ task.comments }}</p>
</section>

<p class="text-xs font-fine">Database Revision No: {{ task._rev}} | Created: {{ task.timestamp }} </p>
<p class="text-xs text-red font-fine">{{ contact.ADMIN_EMAIL }}</p>
<p class="text-xs text-red font-fine">{{ display  }}</p>